@page
@model IdentityDemo.Pages.AdminModel
@{
    ViewData["Title"] = "Admin Area";
    <h1>
        @ViewData["Title"]

    </h1>
    <p>Denna sida syns bara om du är inloggad som <strong>admin</strong>!</p>
}
